<% if current_user.voted?(choice) %>
  <button class="voted">
    <%= link_to choice.name, choice_vote_path(choice.id), method: :delete, remote: true %>
  </button>
<% else %>
  <button class="vote">
    <%= link_to choice.name, choice_vote_path(choice.id), method: :post, remote: true %>
  </button>
<% end %>