

      
        <div class= "col-12">
          <div class="row Masonry-3">
            <div class="box-1 col-xs-12 col-md-4">
                【内容1】
            </div>
            <div class="box-2 col-xs-12 col-md-4">
                【内容2】
            </div>
            <div class="box-3 col-xs-12 col-md-4">
                【内容3】
            </div>
          </div>
        </div>
      </div>

