<div class="follow_container">
  <div class="follow_user_info">
    <p class="gravatar_for"><%= gravatar_for @user %></p>
    <h4 class="user"><%= @user.name %></h4>
  </div>
  <div class="stats">
    <div class="follow_stats">
      <div class="follow">フォロー</div>
      <div class="follow_count">（ <%= link_to @user.following.count, following_user_path %> ）</div>
    </div>
    <div class="follow_stats">
      <div class="follow">フォロワー</div>
      <div class="follow_count">（ <%= link_to @user.followers.count, followers_user_path %> ）</div>
    </div>
  </div>
</div>