<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      フォームに入力した内容が <%= object.errors.count%>個、問題があります。
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>