/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.row.Masonry-2 {
  column-count: 2;
  column-gap: 0;
}
.row.Masonry-3 {
  column-count: 3;
  column-gap: 0;
}
.Masonry-2 .col-md-6,
.Masonry-3 .col-md-4 {
  float: none;
  width: 100%;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
@media (max-width: 480px) {
  .row.Masonry-2,
  .row.Masonry-3 {
      column-count: 1;
  }
}
.box-1{
  background-color: rgb(235, 207, 207);
}
.box-2{
  background-color: rgb(185, 196, 185);
}
.box-3{
  background-color: rgb(211, 199, 223);
}
.side-bar{
  background-color: rgb(255, 255, 255);  
}

.sign-up{
  background-color: darkgray;
  height: 1000px;
}