 @import "bootstrap-sprockets";
 @import "bootstrap";
 
 
 /* mixins, variables, etc. */
 
 $gray-medium-light: #eaeaea;
 @mixin orange_back {
  box-shadow: 0 6px #7295acf5;
  background: linear-gradient(#FA709A 30%, #FBAB7E 60%, #F7CE68 100%);
  top: 0;
  transition: .2s box-shadow,.2s top,.4s
 }
 @mixin blue_back {
  box-shadow: 0 6px #526fa5;
  background-color: #ffcfdf;
  background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
  top: 0;
  transition: .2s box-shadow,.2s top,.4s;
 }
 @mixin green_back{
  background-color: #09c7fb;
  background-image: linear-gradient(315deg, #09c7fb 0%, #93fb9d 74%);
  box-shadow: 0 6px #526fa5;
  top: 0;
  transition: .2s box-shadow,.2s top,.4s;
 }
 @mixin purple_back {
  background-color: #f876de;
  background-image: linear-gradient(315deg, #f876de 0%, #b9d1eb 74%);
  box-shadow: 0 6px #526fa5;
  top: 0;
  transition: .2s box-shadow,.2s top,.4s;
 }
 @mixin btn_orange {
  border-radius: 1.5em;
  color: red($color: #8f8989);
  box-shadow: 0 6px #864c8d;
  background-color: #f3e6e8;
background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%);
  top: 0;
  transition: .2s box-shadow,.2s top,.4s;
 }
 @mixin btn_active_orange {
  box-shadow: 0 5px #7b88a1;
  top: 1px;
 }
 @mixin btn_deep_blue {
  border-radius: 1.5em;
  box-shadow: 0 6px #526fa5;
  background-color: #af8c9d;
background-image: linear-gradient(315deg, #af8c9d 0%, #8cacac 74%);
  top: 0;
  transition: .2s box-shadow,.2s top,.4s;
 }
 @mixin btn_active_deep_blue {
  box-shadow: 0 5px #526fa5;
  top: 1px;
 }
 @mixin box_sizing {
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
   box-sizing:         border-box;
 }
 
@media screen and (max-width: 599px){
.side-bar{
  display: none;
}}

@media screen and (min-width: 599px){
  .top-menu{
  display: none;
}}

.side-bar{
  border-radius: 1.5em;
  @include blue_back;
  text-align: center;
  margin-top: 10px;
  ul{
    text-align: center;
    padding-left: 0px;
    li{
      margin-bottom: 20px;
      list-style: none;
      font-size: 2em;
    }
  }
}

.top-menu{
  background-color: rgb(192, 174, 194);
  margin: 0;
  height: 3rem;
}


.line{
  width: 20px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  margin: 3px;
}
.line-3{
  margin-left:10px;
  
}

.menu-1{
  background-color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  transform: translateY(-300px);
  position: fixed;
  z-index: 999;
}

#input{
  display: none;
}

input:checked ~ .menu-1 {
  transform: translatey(0px);
}

h3, h1{
  text-align: center;
  margin-top: 3%;
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox{
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


.judgement-btn{
  text-align: center;
}

.btn-border {
  background-color: #f1f1f1;
  display: inline-block;
  max-width: 180px;
  border: 2px solid #d6d6d6;
  font-size: 20px;
  color: #8c8c8cf5;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 1.5em;
  transition: .4s;
  margin-bottom: 10px;
}

.btn-border:hover {
  background-color: #babbb8;
  border-color: #f6f7f4;
  color: #FFF;
}
.btn-border-sm {
  background-color: #f1f1f1;
  display: inline-block;
  width: auto;
  border: 2px solid #d6d6d6;
  font-size: 15px;
  color: #8c8c8cf5;
  text-decoration: none;
  font-weight: bold;
  padding: 2px 9px;
  border-radius: 1.5em;
  margin-bottom: 10px;
}
.content{
  height: 100px;
  border-radius: 10px;
}
.number{
  border-radius: 10px;
}

/* show */
.edit{
  float: right;
}
.item{
  width: 250px;
  margin:5px;
  box-sizing:border-box;
  border-radius:6px;
  float: left;
}
.choice{
  float: left;
  width: 43%;
  padding-top: 2%;
  .choice_name{
    font-size: large;
  }
}

.container_show{
  display: table-row;
  align-items: center;
}
.post_details_1{
  margin-top: 10px;
  padding: 20px;
  height: auto;
  border-radius: 1.5em;
  @include orange_back;
}
.post_details_2{
  margin-top: 10px;
  padding: 20px;
  height: auto;
  border-radius: 1.5em;
  @include blue_back;
}
.post_details_3{
  margin-top: 10px;
  padding: 20px;
  height: auto;
  border-radius: 1.5em;
  @include green_back;
}
.post_details_4{
  margin-top: 10px;
  padding: 20px;
  height: auto;
  border-radius: 1.5em;
  @include purple_back;
}

.post_details_show_1{
  align-items: center;
  float: left;
  width: 45%;
  margin: 2% 5%;
  padding: 20px;
  height: auto;
  border-radius: 1.5em;
  @include orange_back;
}
.post_details_show_2{
  align-items: center;
  float: left;
  width: 45%;
  margin: 2% 5%;
  padding: 20px;
  height: auto;
  border-radius: 1.5em;
  @include blue_back;
}
.post_details_show_3{
  align-items: center;
  float: left;
  width: 45%;
  margin: 2% 5%;
  padding: 20px;
  height: auto;
  border-radius: 1.5em;
  @include green_back;
}
.post_details_show_4{
  align-items: center;
  float: left;
  width: 45%;
  margin: 2% 5%;
  padding: 20px;
  height: auto;
  border-radius: 1.5em;
  @include purple_back;
}
.follow_container{
  margin-top: 5%;
  width: 250px;
  float:left;
  clear: both;
}
.gravatar_for{
  text-align: center;
}
.user{
  text-align: center;
  margin: 10% 0 10% 0;
}
.count{
  display: flex;
  justify-content: space-evenly;
  margin: 10% 0 10% 0;
}

.follow_list{
  display: flex;
  align-items: center;
  padding-top: 5%;
  border-bottom: solid 1px rgb(133, 133, 133);
  margin-left: 30%;
  width: 60%;
  .gravatar_follow{
    padding-left: 25%;
  }
  .user {
    padding-left: 25%;
  }
}
.gravatar{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.user_info {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
    .user{
      font-size: 1.8rem;
      margin-left: 2px;
    }
}
.picture{
  text-align: center;
  .img{
  border-radius: 8px;
  width: 100%;
  height: auto;
  object-fit: cover;
  }
}
.comment{
  margin: 10px 0 10px 0;
  background-color: #f3e6e6;
  border:solid 1px #bbb1a1;
  border-radius: 8px;
  top: 0;
  transition: .2s box-shadow,.2s top,.4s;
  word-wrap: break-word;
  p{
    font-size: 2rem;
    margin: 10px;
  }
}

.vote {
  @include btn_orange;
  a {
    color: black;
  }
}
.vote:active {
  @include btn_active_orange;
}
.voted {
  @include btn_deep_blue;
}
.voted:active {
  @include btn_active_deep_blue;
}
button {
  margin: 0 20px 10px;
  width: 85%;
  border: none;
  display: inline-block;
  font-size: 114%;
  line-height: 1;
  color: #fff;
  position: relative;
  cursor: pointer;
  a {
    color: #fff;
    display: block;
    padding: 1rem;
  }
}
table{
  border-collapse:separate;
  border-spacing: 5px;
  width: 100%;
}

table th,table td{
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
}

table th{
  background-color: #f6d327;
background-image: linear-gradient(315deg, #f6d327 0%, #de4daa 74%);
  color: white;
  border:solid 1px #927141;
  width: 80%;
}

table td{
  background-color: #fee2f8;
background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
  border:solid 1px #af9d85;
  font-size: large;
}
.sign_up{
  margin-top: 10px;
  padding: 20px;
  height: auto;
  border-radius: 1.5em;
  @include blue_back;
}

.choice_show_row{
  text-align: center;
}

.guest_login {
  text-align: center;
  display: inline-block;
}